<!doctype html>
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/Skeleton-2.0.4/css/normalize.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/Skeleton-2.0.4/css/skeleton.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/custom.css') }}" />
    </head>
    <body>
        <header id="header">
            <div class="wrapper">
                <ul>
                    <li><a href="/">top</a></li>
                    <li><a href="/products">products</a></li>
                </ul>
            </div>
        </header>
    {% block content %}
    <!-- ここにメインコンテンツを書く -->
    {% endblock %}
    </body>
</html>