{% extends "layout.html" %}
{% block content %}
  <h1>Products</h1>
  <form>
    <label for="search">search</label>
    <input type="text" name="q" value="{{ q }}">
    <input type="submit" action="/shop" method="GET" value="search">  
  </form>
  {% if q %}
    <p><b>query: {{ q }}, {{ cnt }} product(s) is hit!</b></p>
  {% endif %}
  <div id="column" class="column04">
    <ul>
    {% for product in products %}
      <li>
        <a href="/product/{{ product['id'] }}">
          <img src="{{ url_for('static', filename='/img/noimage.jpg') }}" />
          <span>{{ product['name'] }}</span>
          <span>price: {{ product['price'] }}</span>
          <span>stock: {{ product['stock'] }}</span>
        </a>
      </li>
    {% endfor %}
    </ul>
  </div>
{% endblock %}