{% extends "layout.html" %}
{% block content %}
  <h1>商品</h1>
  <form>
    <label for="search">検索</label>
    <input type="text" name="q" value="{{ q }}">
    <input type="submit" action="/shop" method="GET" value="search">  
  </form>
    <div id="description">
    {% if q %}
      <p>検索ワード: {{ q }}</p>
    {% endif %}
      <p>{{ cnt }} 件の商品があります。</p>
  </div>
  <div id="column" class="column04">
    <ul>
    {% for product in products %}
      <li>
        <a href="/product/{{ product['id'] }}">
          <img src="{{ url_for('static', filename='/img/noimage.jpg') }}" />
          <span>{{ product['name'] }}</span>
          <span>価格：{{ product['price'] }} 円</span>
          <span>在庫：{{ product['stock'] }} 個</span>
        </a>
      </li>
    {% endfor %}
    </ul>
  </div>
{% endblock %}