{% extends "layout.html" %}
{% block content %}
  <h1>Products</h1>
  <form>
    <input type="text" name="q" value="{{ q }}">
    <input submit type="submit" action="/shop" method="GET" value="search">  
  </form>
  {% if q %}
    <p><b>query: {{ q }}, {{ cnt }} product(s) is hit!</b></p>
  {% endif %}
  {% for product in products %}
    <h2><a href="/product/{{ product['id'] }}">{{ product['name'] }}</a></h2>
      <p>price: {{ product['price'] }}</p>
      <p>stock: {{ product['stock'] }}</p>
  {% endfor %}
{% endblock %}